<div *ngIf="!isPrepared" class="text-center">
  <h2 class="mt-3 mb-5">{{ utils.lang('Pick') }} {{ initCardCount() }} {{ utils.lang('cards') }}</h2>
  <div class="container">
    <div class="row">
      <div *ngFor="let n of [1,2,3,4]" class="col-3">
        <app-davinci-code-card
          color="black"
          [selected]="initialCards.includes(n)"
          (click)="selectInitialCard(n)"
          ></app-davinci-code-card>
      </div>
    </div>
    <div class="row my-5">
      <div *ngFor="let n of [5,6,7,8]" class="col-3">
        <app-davinci-code-card
          color="white"
          [selected]="initialCards.includes(n)"
          (click)="selectInitialCard(n)"
          ></app-davinci-code-card>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" [disabled]="initialCards.length !== initCardCount()" (click)="prepared()">{{ utils.lang('OK') }}</button>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="isPrepared">
  <div class="text-center">
    <h2 class="mt-3">
      <ng-container *ngIf="isMyTurn()">
        <ng-container *ngIf="!gameData.currentTurn.gameEnds">{{ utils.lang('My Turn') }}!</ng-container>
        <ng-container *ngIf="gameData.currentTurn.gameEnds">{{ utils.lang('I Win') }}!</ng-container>
      </ng-container>
      <ng-container *ngIf="!isMyTurn()">
        <ng-container *ngIf="!gameData.currentTurn.gameEnds">{{ utils.lang('Waiting For Others') }} <fa-icon icon="cog" spin="true"></fa-icon></ng-container>
        <ng-container *ngIf="gameData.currentTurn.gameEnds">{{ utils.lang('Game Over') }}!</ng-container></ng-container>
    </h2>
    <p *ngIf="instruction()" class="text-primary">* {{ instruction() }}</p>
  </div>

  <div *ngFor="let member of gameData.members" class="px-3 pb-2">
    <div class="container card p-2">

      <div class="row">
        <div class="col-12">
          <fa-icon icon="user-alt" class="text-info mr-2"></fa-icon>
          <span *ngIf="member.id !== p2p.getId()">{{ member.name }}</span>
          <ng-container *ngIf="member.id === p2p.getId()">
            <span>{{ utils.lang('My Cards') }}</span>
            <app-davinci-code-card
              *ngIf="isGuessingCard()"
              [color]="gameData.currentTurn.newCard.color"
              [mark]="gameData.currentTurn.newCard.mark"
              [content]="gameData.currentTurn.newCard.content"
              ></app-davinci-code-card>
            <button *ngIf="gameData.currentTurn.guessCorrectly &&
              isMyTurn() &&
              !gameData.currentTurn.gameEnds &&
              !me().cardWaitingForConfirm" class="btn btn-primary btn-sm" (click)="skipTurn()">{{ utils.lang('Pass this turn') }}</button>
          </ng-container>
        </div>
      </div>

      <div *ngIf="member.cards && (member.id === p2p.getId() || !member.cardWaitingForConfirm)" class="row row-cards mt-2 px-2">
        <ng-container *ngFor="let card of member.cards; let i = index">
          <div *ngIf="showPlaceholderBeforeCard(member, i)" class="col-2">
            <app-davinci-code-card placeholder=true (click)="reorderCardToIndex(i)"></app-davinci-code-card>
          </div>
          <div class="col-2">
            <app-davinci-code-card
              [color]="card.color"
              [mark]="card.mark"
              [content]="member.id === p2p.getId() || card.opened ? card.content : ''"
              [opened]="card.opened"
              (click)="member.id !== p2p.getId() ? selectCardForGuessing(card) : null"
              [selected]="guessCardMark === card.mark"
              ></app-davinci-code-card>
          </div>
        </ng-container>
        <div *ngIf="showPlaceholderAtLast(member)" class="col-2">
          <app-davinci-code-card placeholder=true (click)="reorderCardToIndex(member.cards.length)"></app-davinci-code-card>
        </div>
      </div>

      <ng-container *ngIf="isGuessingCardOfMember(member)">
        <div class="row row-cards px-2">
          <div *ngFor="let content of CARDS" class="col-2">
            <app-davinci-code-card
              placeholder=true
              [content]="content"
              (click)="!isWaitingForResponse() ? guessAs = content : null"
              [selected]="guessAs === content"
              ></app-davinci-code-card>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-12">
            <button class="btn btn-primary" [disabled]="[undefined, null].includes(guessAs) || isWaitingForResponse()" (click)="guessConfirmed()">{{ utils.lang('OK') }}</button>
          </div>
        </div>
      </ng-container>

      <div *ngIf="member.id === p2p.getId() && member.cardWaitingForConfirm" class="row text-center">
        <div class="col-12">
          <button class="btn btn-primary" (click)="cardConfirmed()">{{ utils.lang('OK') }}</button>
        </div>
      </div>

    </div>
  </div>

  <div class="px-3 pb-2">
    <div class="container card p-2">
      <div class="row">
        <div class="col-12">
          <fa-icon icon="th-large" class="text-info mr-2"></fa-icon>
          {{ utils.lang('Card Deck') }}
        </div>
      </div>
      <div class="row row-cards my-3 px-2">
        <div *ngFor="let card of gameData.deck.black; let i = index" class="col-2">
          <app-davinci-code-card
            [color]="card.color"
            [selected]="selectedCardFromDeckIndex === i"
            (click)="selectCardFromDeck(i)"
            ></app-davinci-code-card>
        </div>
        <div *ngFor="let card of gameData.deck.white; let i = index" class="col-2">
          <app-davinci-code-card
            [color]="card.color"
            [selected]="selectedCardFromDeckIndex === i + gameData.deck.black.length"
            (click)="selectCardFromDeck(i + gameData.deck.black.length)"
            ></app-davinci-code-card>
        </div>
      </div>
      <div *ngIf="isSelectingCardFromDeck()" class="row text-center">
        <div class="col-12">
          <button class="btn btn-primary" [disabled]="selectedCardFromDeckIndex === null || selectedCardFromDeckConfirming" (click)="cardFromDeckConfirmed()">{{ utils.lang('OK') }}</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="gameData.currentTurn.gameEnds && storage.isHost()" class="text-center my-2">
    <button class="btn btn-primary" (click)="restart()">{{ utils.lang('Restart') }}</button>
  </div>

  <div class="p-3">
    <div class="card p-2">
      <b>{{ utils.lang('History') }}</b>
      <p *ngFor="let record of gameData.history; let i = index" class="mb-2">
        <ng-container *ngIf="record.guessAs === undefined">
          <hr>
          {{ record.name }} {{ utils.lang('get card') }}
          <span class="text-info">{{ record.cardMark }}</span>
        </ng-container>
        <ng-container *ngIf="record.guessAs !== undefined">
          {{ record.name }} {{ utils.lang('guess card') }}
          <span class="text-info">{{ record.cardMark }}</span>
          {{ utils.lang('as') }}
          <span class="text-info">{{ record.guessAs }}</span>
          <fa-icon *ngIf="record.result" icon="check" class="text-success ml-2"></fa-icon>
          <fa-icon *ngIf="!record.result" icon="times" class="text-danger ml-2"></fa-icon>
        </ng-container>
      </p>
    </div>
  </div>
</ng-container>

<div *ngIf="notification" class="fixed-top p-2">
  <div class="alert mt-2 text-center" role="alert" [ngClass]="{
      'alert-primary': notification.newTurn,
      'alert-info': !notification.newTurn && notification.history.guessAs === undefined,
      'alert-success': !notification.newTurn && notification.history.guessAs !== undefined && notification.history.result,
      'alert-danger': !notification.newTurn && notification.history.guessAs !== undefined && !notification.history.result
    }">
    <ng-container *ngIf="notification.newTurn">
      <b>{{ utils.lang('My Turn') }} !</b>
    </ng-container>
    <ng-container *ngIf="!notification.newTurn">
      <b>{{ notification.history.name }}</b>
      <ng-container *ngIf="notification.history.guessAs === undefined">
        {{ utils.lang('get card') }}
        <span class="text-info">{{ notification.history.cardMark }}</span>
      </ng-container>
      <ng-container *ngIf="notification.history.guessAs !== undefined">
        {{ utils.lang('guess card') }}
        <span class="text-info">{{ notification.history.cardMark }}</span>
        {{ utils.lang('as') }}
        <span class="text-info">{{ notification.history.guessAs }}</span>
        <fa-icon *ngIf="notification.history.result" icon="check" class="text-success ml-2"></fa-icon>
        <fa-icon *ngIf="!notification.history.result" icon="times" class="text-danger ml-2"></fa-icon>
      </ng-container>
    </ng-container>
  </div>
</div>